/*
Author: Abinesh Pandi
Date: 04/12/2023
File Name: media.css
*/

/* styles for media.html here */

#audio-section,
#video-section {
    margin-bottom: 30px;
}

audio,
video {
    width: 100%;
    max-width: 800px;
    margin-top: 15px;
}

h2 {
    color: #333;
    margin-bottom: 15px;
}

footer {
    background-color: #333;
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}
